name: Pre-commit check

on:
  pull_request:


jobs:
  pre-commit:
    if: github.repository == 'recordedfuture/splunk-soar'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install pre-commit
        run: |
          pip install uv
          uv pip install --upgrade pip --system
          uv pip install pre-commit --system

      - name: Run pre-commit on all files
        run: pre-commit run --all-files
